h2 {
    text-align: center;
    color: #222;
    margin-bottom: 25px;
}

p {
    width: 400px;
    margin: 0 auto;
    padding: 15px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}

p:first-of-type {
    border-radius: 10px 10px 0 0;
}

p:last-of-type {
    border-radius: 0 0 10px 10px;
}

strong {
    color: #555;
}


/* =========================
   BOTÓN VOLVER
========================= */

body > a {
    display: block;
    width: 200px;
    margin: 30px auto;
    padding: 12px;
    text-align: center;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

body > a:hover {
    background-color: #555;
}